n8n/facebook-receive-messages.json
{
  "name": "facebook-receive-messages",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v25.0/{{ $json.body.entry[0].messaging[0].recipient.id }}/messages",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "EAAVSogzqa8wBRbuhBUplc83Ytry0uRcFS75NA431ADwG4cP27nc5m5ikdYRatrvbkCiOw9fJZBF6zZB1yBD3MkMZBTwCVxpp9icZBslkhWsbCiZCbCwtkA22pTBOzcF3ERgayRGq7TrSZAa4NPwKMx4NwlZCvAZBRGRNjdcJZAEaZAjQF74CwZCqzFXdoOXEUv4T33gOBhBbQZDZD"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"recipient\": {\n    \"id\": \"{{ $json.body.entry[0].messaging[0].sender.id }}\"\n  },\n  \"messaging_type\": \"RESPONSE\",\n  \"message\": {\n    \"text\": \"Hello, world!\"\n  }\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        192,
        256
      ],
      "id": "bf54675a-176b-4f47-a998-c07985f09644",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $json.query.hub_challenge }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        416,
        -96
      ],
      "id": "5454fddb-b657-48bb-b139-e490dd5b0fdd",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5ccade8d-5e54-4ddc-b292-a8acca6ce71c",
              "leftValue": "={{ $json.query['hub.mode'] }}",
              "rightValue": "subscribe",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "24cc31bb-fbe8-400f-b207-82b6dcdd2a39",
              "leftValue": "={{ $json.query.hub_verify_token }}",
              "rightValue": "chat",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "eb736770-97b0-4832-aace-8cec218ed93e",
      "name": "If"
    },
    {
      "parameters": {
        "multipleMethods": true,
        "path": "9c412996-1e05-4fca-bfe1-e23de6b5f998",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "33c385f1-0e3e-4e72-a0a8-70b2774d0787",
      "name": "Webhook",
      "webhookId": "e478489a-bd8a-4d2a-9f10-f395697db359"
    }
  ],
  "pinData": {},
  "connections": {
    "If": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "14b6ad45-ca80-4832-ac08-e968b4c1363a",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "14e82f4cd8453c5cb57d16c38e8ddf131154b4bb84112726ed1d7e583bc881fe"
  },
  "id": "B89bNdrVtr7WF4ce",
  "tags": []
}